<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="footer">
    <footer id="footer" class="my-5">
        <div class="container py-5 my-5">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-menu">
                        <h3>빠른 이동</h3>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a href="/" class="nav-link">메인페이지</a>
                            </li>
                            <li class="menu-item">
                                <a th:href="@{/notice/IntroductionUs}" class="nav-link">사이트소개</a>
                            </li>
                            <li class="menu-item">
                                <a th:href="@{/qa/posts}" class="nav-link">관리자 문의하기</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="footer-menu">
                        <h3>구인 & 구직</h3>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a th:href="@{/educations/posts}" class="nav-link">구인목록 </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="nav-link">인재목록</a>
                            </li>
                            <li class="menu-item">
                                <a th:href="@{/teams/posts}" class="nav-link">팀목록</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-menu">
                        <h3>교육기관</h3>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a th:href="@{/agency/posts}" class="nav-link">인력사무소</a>
                            </li>
                            <li class="menu-item">
                                <a th:href="@{/trainning/posts}" class="nav-link">훈련소</a>
                            </li>
                            <li class="menu-item">
                                <a th:href="@{/educations/posts}" class="nav-link">안전교육</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-menu">
                        <h3>커뮤니티</h3>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a href="#" class="nav-link">주변밥집</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.moel.go.kr/info/defaulter/defaulterList.do" class="nav-link">체불사업주</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</div>
</body>
</html>
