
<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>일반회원 마이페이지</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link th:href="@{/assets/vendor/fonts/boxicons.css}" rel="stylesheet" />

    <!-- Core CSS -->
    <link th:href="@{/assets/vendor/css/core.css}" rel="stylesheet" class="template-customizer-core-css" />
    <link th:href="@{/assets/vendor/css/theme-default.css}" rel="stylesheet" class="template-customizer-theme-css" />
    <link th:href="@{/assets/css/demo.css}" rel="stylesheet" />

    <!-- Vendors CSS -->
    <link th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" />

    <!-- Helpers -->
    <script th:src="@{/assets/vendor/js/helpers.js}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/assets/js/config.js}"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <div th:include="~{design/side-bar :: side}"></div>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->


            <div th:include="~{design/navi-bar :: navi}"></div>


            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-fluid flex-grow-1 container-p-y">
                    <!-- Layout Demo -->



                    <span th:text="${user.id}"></span>

                    <div class="col-md-12 mb-4">
                        <div class="card">
                            <div class="container-xxl flex-grow-1 container-p-y text-center">
                                <h2 class="fw-bold py-3 mb-4">
                                    <span th:text="${user.id}"></span>회원님의 마이페이지
                                </h2>

                                <div class="card-body">
                                    <div class="mb-3">
                                        <!-- 이미지 삽입 -->
                                        <img th:src="@{'/kjwupload/profile/' + ${user.profile} }" class="img-fluid" alt="사진" />
                                    </div>
                                </div>

                                <h5 class="fw-bold py-3 mb-4">
                                    <span class="text-muted fw-light">이름 : </span>
                                    <span th:text="${user.memberInfo.name}"></span>
                                    //
                                    <span class="text-muted fw-light">연락처 : </span>
                                    <span th:text="${user.phone}"></span>
                                    //
                                    <span class="text-muted fw-light">이메일 : </span>
                                    <span th:text="${user.email}"></span>
                                </h5>

                                <h5 class="fw-bold py-3 mb-4">
                                    <span class="text-muted fw-light">주소 : </span>
                                    <span th:text="${user.address}"></span>
                                    //
                                    <span class="text-muted fw-light">생년월일 : </span>
                                    <span th:text="${user.memberInfo.birth}"></span>
                                    //
                                    <span class="text-muted fw-light">키 : </span>
                                    <span th:text="${user.memberInfo.height}"></span>
                                </h5>

                                <h5 class="fw-bold py-3 mb-4">
                                    <span class="text-muted fw-light">체중 : </span>
                                    <span th:text="${user.memberInfo.weight}"></span>
                                    //
                                    <span class="text-muted fw-light">건강정보 : </span>
                                    <span th:text="${user.memberInfo.health}"></span>
                                    //
                                    <span class="text-muted fw-light">성별 : </span>
                                    <span th:if="${user.memberInfo.gender == 1}" th:text="'남자'"></span>
                                    <span th:if="${user.memberInfo.gender == 2}" th:text="'여자'"></span>
                                </h5>

                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-md-6 text-center"> <!-- 수정하기 버튼 -->
                            <a th:href="@{/mypage/userUpdate/{id}(id=${user.id})}">
                            <button class="btn btn-danger btn-block"  >
                                일반회원 수정하기
                            </button>
                            </a>
                        </div>


                        <div class="col-md-6 text-center"> <!-- 삭제하기 버튼 -->
                            <button class="btn btn-danger btn-block" onclick="confirmDelete()">
                                삭제하기
                            </button>
                        </div>
                    </div>

                    <!--/ Layout Demo -->
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <div th:include="~{design/footer :: footer}"></div>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<div class="buy-now">
    <a href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/"
       target="_blank"
       class="btn btn-danger btn-buy-now"
    >Upgrade to Pro</a>
</div>

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

<script th:src="@{/assets/vendor/js/menu.js}"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>



<script th:inline="javascript">
    /*<![CDATA[*/
    function confirmDelete() {
        if (confirm("정말 삭제하시겠습니까?")) {
            var id = /*[[${user.id}]]*/ '';
            location.href = '/mypage/deleteUser/' + id;
        }
    }
    /*]]>*/
</script>




</body>
</html>