<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>일정표</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link th:href="@{/assets/vendor/fonts/boxicons.css}" rel="stylesheet" />

    <!-- Core CSS -->
    <link th:href="@{/assets/vendor/css/core.css}" rel="stylesheet" class="template-customizer-core-css" />
    <link th:href="@{/assets/vendor/css/theme-default.css}" rel="stylesheet" class="template-customizer-theme-css" />
    <link th:href="@{/assets/css/demo.css}" rel="stylesheet" />

    <!-- Vendors CSS -->
    <link th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" />

    <!-- Helpers -->
    <script th:src="@{/assets/vendor/js/helpers.js}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/assets/js/config.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <style>
        #calendar {
            max-width: 1100px;
            margin: 0 auto;
        }
        .fc-event .weather-icon {
            display: inline-block;
            vertical-align: middle;
        }
        .fc-event .weather-temp {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }
         .fc-day-number.fc-sat.fc-past { color:#0000FF; }
         .fc-day-number.fc-sun.fc-past { color:#FF0000; }
    </style>
    <script>
        $(document).ready(function() {
                    window.addEventListener('message', event => {
                       if (event.origin !== 'http://localhost:4000') return;  // 보안 검사
                       if (event.data === 'modalClosed') {
                           $('#myModal').modal('hide');
                             $('#chatModal').modal('hide');// 모달이 닫힌 후 동작 수행
                       }
                       });
                   });
       document.addEventListener('DOMContentLoaded', function() {
        const city = { engName: 'Seoul', korName: '서울' };
        const calendarEl = document.getElementById('calendar');
        const userId = document.getElementById('userId').value;
        let events = [];

        fetchData();

        function initializeFullCalendar(events) {
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,dayGridWeek,dayGridDay'
                },
                locale: 'ko',
                events: events,
                eventContent: function(arg) {
                    let arrayOfDomNodes = [];

                    let titleEl = document.createElement('div');
                    if (arg.event.extendedProps.weatherIcon) {
                        let weatherIconEl = document.createElement('img');
                        weatherIconEl.src = arg.event.extendedProps.weatherIcon;
                        weatherIconEl.className = 'weather-icon';
                        titleEl.appendChild(weatherIconEl);
                    }

                    if (arg.event.extendedProps.weatherTemp) {
                        let weatherTempEl = document.createElement('span');
                        weatherTempEl.innerHTML = ` ${arg.event.extendedProps.weatherTemp}℃`;
                        weatherTempEl.className = 'weather-temp';
                        titleEl.appendChild(weatherTempEl);
                    }

                    let titleTextEl = document.createElement('span');
                    titleTextEl.innerHTML = ` ${arg.event.title}`;
                    titleEl.appendChild(titleTextEl);

                    arrayOfDomNodes.push(titleEl);

                    return { domNodes: arrayOfDomNodes };
                },
                eventClick: function(info) {
                    window.location.href = info.event.url;
                    info.jsEvent.preventDefault(); // don't let the browser navigate
                }
            });

            calendar.render();
        }

        function fetchWeather(cityId, cityName) {
            fetch(`https://api.openweathermap.org/data/2.5/forecast?q=${cityId}&appid=99612c2cd2cf86724058d9b5b6cba6d5&units=metric&lang=kr`)
                .then(response => response.json())
                .then(data => {
                    const uniqueDates = new Set();
                    data.list.forEach(forecast => {
                        const date = forecast.dt_txt.split(' ')[0];
                        if (uniqueDates.size < 5 && !uniqueDates.has(date)) {
                            uniqueDates.add(date);
                            const temperature = forecast.main.temp;
                            const weatherIcon = forecast.weather[0].icon;

                            const event = {
                                title: '',
                                start: date,
                                display: 'background',
                                extendedProps: {
                                    weatherIcon: `https://openweathermap.org/img/wn/${weatherIcon}.png`,
                                    weatherTemp: temperature
                                }
                            };

                            events.push(event);
                        }
                    });

                    console.log('Events with Weather:', events);
                    initializeFullCalendar(events);
                })
                .catch(error => console.error(`API 요청 중 에러 발생 (${cityName}):`, error));
        }

        function fetchData() {
            $.ajax({
                url: '/ajax/calendar',
                type: 'POST',
                data: {
                    memberId: userId
                },
                success: function(response) {
                    console.log('Response from server:', response);
                    var confirms = response.confirm || [];
                    var applies = response.apply || [];
                    console.log('Confirms:', confirms);
                    console.log('Applies:', applies);

                    confirms.forEach(res => {
                        let url ='mypage/confirm/posts';
                        if(res.auth==2){
                        url='/'
                        }
                        events.push({
                            title: res.title,
                            color: "#0000FF", // Blue color for confirm events
                            eventTextColor: "black", // Text color for confirm events
                            start: res.date,
                            url: url // Add URL for confirm events
                        });
                    });
                    applies.forEach(res => {
                       let url='recruitState/posts/my';
                       if(res.auth==2){
                       url='recruit/posts/'+res.recruitId;
                       }
                        events.push({
                            title: res.title,
                            color: "#FF6666", // Red color for apply events
                            eventTextColor: "black", // Text color for apply events
                            start: res.date,
                            url: url // Add URL for apply events
                        });
                    });

                    console.log('Events:', events);
                    fetchWeather(city.engName, city.korName);
                },
                error: function() {
                    console.log('Failed to fetch data from the server.');
                }
            });
        }
    });

    </script>
    </body>
</html>

</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <div th:include="~{design/side-bar :: side}"></div>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->


            <div th:insert="~{design/navi-bar :: navi}"></div>


            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-fluid flex-grow-1 container-p-y">
                    <div class="modal" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" style="display: none;" sec:authorize="isAuthenticated()">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Chat</h4>
                                </div>
                                <div class="modal-body">
                                    <iframe id="roomFrame" width="100%" height="500px" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Layout Demo -->
                    <input type="hidden" id="userId" name="userId" th:value="${memberId}">
                    <div id='calendar'></div>






                    <!--/ Layout Demo -->
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <div th:include="~{design/footer :: footer}"></div>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

<script th:src="@{/assets/vendor/js/menu.js}"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>