<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>훈련소 상세보기</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link th:href="@{/assets/vendor/fonts/boxicons.css}" rel="stylesheet" />

    <!-- Core CSS -->
    <link th:href="@{/assets/vendor/css/core.css}" rel="stylesheet" class="template-customizer-core-css" />
    <link th:href="@{/assets/vendor/css/theme-default.css}" rel="stylesheet" class="template-customizer-theme-css" />
    <link th:href="@{/assets/css/demo.css}" rel="stylesheet" />

    <!-- Vendors CSS -->
    <link th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" />

    <!-- Helpers -->
    <script th:src="@{/assets/vendor/js/helpers.js}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/assets/js/config.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>

</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <div th:include="~{design/side-bar :: side}"></div>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <div th:insert="~{design/navi-bar :: navi}"></div>
            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="col-md-12 mb-4">
                    <div class="modal" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" style="display: none;" sec:authorize="isAuthenticated()">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Chat</h4>
                                </div>
                                <div class="modal-body">
                                    <iframe id="roomFrame" width="100%" height="500px" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="modal" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" style="display: none;" sec:authorize="isAuthenticated()">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Chat</h4>
                                    </div>
                                    <div class="modal-body">
                                        <iframe id="chatFrame" width="100%" height="500px" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-xxl flex-grow-1 container-p-y text-center">
                            <!-- 제목 -->
                            <div class="card-header">
                                <h2 class="fw-bold py-3 mb-4">
                                    <span th:text="${DetailsList.get().title}"></span>
                                </h2>
                                <button id="openChatBtn" class="btn btn-primary">채팅</button>
                            </div>
                            <!-- 카드 본문 -->
                            <div class="card-body">
                                <div class="row">
                                    <!-- 학원이름 -->
                                    <div class="col-md-12 mb-4">
                                        <div class="card h-100 shadow-lg">
                                             <div class="card-body">
                                                <h5 class="card-title fw-bold">
                                                    <i class="bx bx-buildings text-muted"></i> 학원이름
                                                </h5>
                                                <p class="card-text" th:text="${DetailsList.get().name}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 등록날짜, 조회수, 주소 -->
                                    <div class="col-md-4 mb-4">
                                        <div class="card h-100 shadow-lg">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold">
                                                    <i class="bx bx-calendar text-muted"></i> 등록날짜
                                                </h5>
                                                <p class="card-text" th:text="${#dates.format(DetailsList.get().reg, 'yyyy-MM-dd')}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="card h-100 shadow-lg">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold">
                                                    <i class="bx bx-show text-muted"></i> 조회수
                                                </h5>
                                                <p class="card-text" th:text="${DetailsList.get().readCount}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="card h-100 shadow-lg">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold">
                                                    <i class="bx bx-map text-muted"></i> 주소
                                                </h5>
                                                <p class="card-text" th:text="${DetailsList.get().address}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 전화번호, 모집분야, 모집인원 -->
                                    <div class="col-md-4 mb-4">
                                        <div class="card h-100 shadow-lg">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold">
                                                    <i class="bx bx-phone text-muted"></i> 전화번호
                                                </h5>
                                                <p class="card-text" th:text="${DetailsList.get().contact}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="card h-100 shadow-lg">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold">
                                                    <i class="bx bx-briefcase text-muted"></i> 모집분야
                                                </h5>
                                                <p class="card-text" th:text="${DetailsList.get().position}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="card h-100 shadow-lg">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold">
                                                    <i class="bx bx-group text-muted"></i> 모집인원
                                                </h5>
                                                <p class="card-text" th:text="${DetailsList.get().trainner}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 기타사항 -->
                                    <div class="col-md-12 mb-4">
                                        <div class="card h-100 shadow-lg">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold">
                                                    <i class="bx bx-info-circle text-muted"></i> 기타사항
                                                </h5>
                                                <p class="card-text" th:text="${DetailsList.get().etc}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <div class="card mb-4 shadow-lg"> <!-- shadow-lg 클래스를 추가 -->
                                    <h5 class="card-header text-center">상세내용</h5>
                                    <div class="card-body d-flex justify-content-center align-items-center">
                                        <div class="divider text-center">
                                            <span th:text="${DetailsList.get().content}"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- 사진 보기 카드 -->
                                <div class="card mb-4 shadow-lg">
                                    <h5 class="card-header text-center">사진 보기</h5>
                                    <div class="card-body d-flex justify-content-center align-items-center">
                                        <div class="row justify-content-center" style="gap: 20px;"> <!-- gap 값을 조정 -->
                                            <div th:each="image : ${images}" class="col-md-4 mb-3 d-flex justify-content-center">
                                                <!-- 이미지 삽입 -->
                                                <img th:src="@{'/kjwupload/image/' + ${image.boardType} + '/' + ${image.boardNum} + '/' + ${image.name}}" alt="사진" style="width: 250px; height: 250px;"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 수정하기/삭제하기 버튼 -->
                                <div class="row">
                                    <div class="col-md-6 text-center" th:if="${DetailsList.get().companyId == pid}">
                                        <a class="btn btn-danger btn-block" th:href="@{/trainning/posts/{trainnignum}/edit(trainnignum=${DetailsList.get().id})}">
                                            수정하기
                                        </a>
                                    </div>
                                    <div class="col-md-6 text-center" th:if="${DetailsList.get().companyId == pid}">
                                        <form id="deleteForm" th:action="@{/trainning/posts/{trainnignum}(trainnignum=${DetailsList.get().id})}" th:method="delete">
                                            <button type="button" class="btn btn-danger btn-block" onclick="confirmDeleteUser(event)">삭제하기</button>
                                        </form>
                                    </div>
                                    <div class="col-md-6 text-center" sec:authorize="hasRole('ROLE_ADMIN')">
                                        <form id="AdmindeleteForm" th:action="@{/trainning/posts/{trainnignum}(trainnignum=${DetailsList.get().id})}" th:method="delete">
                                            <button type="button" class="btn btn-danger btn-block" onclick="confirmDeleteAdmin(event)">삭제하기</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function() {
                        $('#openChatBtn').click(function() {
                            var sender = $('#sender').val();
                            var receiver = $('#receiver').val();
                            var chatUrl = 'http://localhost:4000/chat/' + sender + '/' + receiver;
                            $('#chatFrame').attr('src', chatUrl);
                            $('#myModal').modal('show');
                        });
                    });
                </script>




                <!-- Footer -->
                <div th:include="~{design/footer :: footer}"></div>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<script>
    window.addEventListener('message', event => {
                           if (event.origin !== 'http://localhost:4000') return;  // 보안 검사
                           if (event.data === 'modalClosed') {
                               $('#myModal').modal('hide');
                                 $('#chatModal').modal('hide');// 모달이 닫힌 후 동작 수행
                           }
                           });
</script>

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

<script th:src="@{/assets/vendor/js/menu.js}"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>


<script>
    function confirmDeleteUser(event) {
        event.preventDefault();
        if (confirm("정말 삭제하시겠습니까?")) {
            document.getElementById("deleteForm").submit();
        }
    }
</script>
<script>
    function confirmDeleteAdmin(event) {
        event.preventDefault();
        if (confirm("정말 삭제하시겠습니까?")) {
            document.getElementById("AdmindeleteForm").submit();
        }
    }
</script>


</body>
</html>
