<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
회원가입
<form  action="/joinProc" method="post" name="loginForm">
    아이디 : <input  id="username" name="id" type="text" placeholder="id">
    비밀번호 : <input id="password" name="pw" type="password" placeholder="password">
    주소 : <input id="address" name="address" type="text" placeholder="password">
    연락처 : <input id="phone" name="phone" type="text" placeholder="password">
    email : <input id="email" name="email" type="text" placeholder="password">
    이름 : <input id="name" name="name" type="text" placeholder="password">
    birth : <input id="birth" name="birth" type="text" placeholder="password">
    height : <input id="height" name="height" type="text" placeholder="password">
    weight : <input id="weight" name="weight" type="text" placeholder="password">
    health : <input id="health" name="health" type="text" placeholder="password">
    gender : <input id="gender" name="gender" type="number" placeholder="password">

    <input type="submit" value="회원가입">
</form>


</body>
</html>