<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>평점</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>

    <!-- Icons. Uncomment required icon fonts -->
    <link th:href="@{/assets/vendor/fonts/boxicons.css}" rel="stylesheet"/>

    <!-- Core CSS -->
    <link th:href="@{/assets/vendor/css/core.css}" rel="stylesheet" class="template-customizer-core-css"/>
    <link th:href="@{/assets/vendor/css/theme-default.css}" rel="stylesheet" class="template-customizer-theme-css"/>
    <link th:href="@{/assets/css/demo.css}" rel="stylesheet"/>

    <!-- Vendors CSS -->
    <link th:href="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet"/>

    <!-- Helpers -->
    <script th:src="@{/assets/vendor/js/helpers.js}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/assets/js/config.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
        .star {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    </style>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <div th:include="~{design/side-bar :: side}"></div>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <div th:insert="~{design/navi-bar :: navi}"></div>
            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-fluid flex-grow-1 container-p-y">
                    <div class="modal" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" style="display: none;" sec:authorize="isAuthenticated()">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Chat</h4>
                                </div>
                                <div class="modal-body">
                                    <iframe id="roomFrame" width="100%" height="500px" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Layout Demo -->
                    <div class="card mb-4">
                        <div class="col-md">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img class="card-img card-img-left" th:if="${member!=null}"
                                             th:src="@{'https://'+ ${bucketName}+'.s3.' + ${regionName} + '.amazonaws.com/profile/' +${member.profile}}" alt="profile" style="width: 150px; height: 150px;"/>
                                        <img class="card-img card-img-left" th:if="${company!=null}"
                                             th:src="@{'https://'+ ${bucketName}+'.s3.' + ${regionName} + '.amazonaws.com/profile/' +${company.profile}}" alt="profile" style="width: 150px; height: 150px;"/>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title" th:if="${company!=null}"
                                                th:text="'회사 이름 : '+${company.companyInfo.companyName}"></h5>
                                            <h5 class="card-title" th:if="${company!=null}"
                                                th:text="'사업자 이름 : '+${company.companyInfo.name}"></h5>
                                            <h5 class="card-title" th:if="${company!=null}"
                                                th:text="'분야 : '+${company.companyInfo.job}"></h5>
                                            <h5 class="card-title" th:if="${company!=null}"
                                                th:text="'회사 주소 : '+${company.address}"></h5>
                                            <h5 class="card-title" th:if="${member!=null}"
                                                th:text="'회원 이름 : '+${member.memberInfo.name}"></h5>
                                            <h5 class="card-title" th:if="${member!=null}"
                                                th:text="'생년월일 : '+${member.memberInfo.birth}"></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/satisfaction/score/edit}" th:method="patch">
                            <div id="star-container">
                                <img th:src="@{/img/emptyScore.png}" class="star" onclick="rate(1)" id="star1" data-score="1">
                                <img th:src="@{/img/emptyScore.png}" class="star" onclick="rate(2)" id="star2" data-score="2">
                                <img th:src="@{/img/emptyScore.png}" class="star" onclick="rate(3)" id="star3" data-score="3">
                                <img th:src="@{/img/emptyScore.png}" class="star" onclick="rate(4)" id="star4" data-score="4">
                                <img th:src="@{/img/emptyScore.png}" class="star" onclick="rate(5)" id="star5" data-score="5">
                            </div>
                            <input type="hidden" name="score" id="score" th:value="${post.score}">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="content">상세 내용</label>
                                <div class="col-sm-10">
                                    <textarea id="content" class="form-control" name="content" placeholder="자세한 내용을 작성해주세요" th:utext="${post.content}"></textarea>
                                </div>
                                <input type="hidden" name="id" th:value="${post.id}">
                                <input type="hidden" name="target" th:if="${member!=null}" th:value="${member.id}">
                                <input type="hidden" name="target" th:if="${company!=null}" th:value="${company.id}">
                            </div>
                            <button class="btn btn-primary" type="submit">수정하기</button>
                        </form>
                    </div>
                    <!--/ Layout Demo -->
                </div>
                <!-- / Content -->
                <script th:inline="javascript">
                    $(document).ready(function() {
                     window.addEventListener('message', event => {
                        if (event.origin !== 'http://3.39.50.114:4000') return;  // 보안 검사
                        if (event.data === 'modalClosed') {
                            $('#myModal').modal('hide');
                              $('#chatModal').modal('hide');// 모달이 닫힌 후 동작 수행
                        }
                        });
                    });
                    // 점수 초기화 함수
                   function initializeStars(initialScore) {
             for (let i = 1; i <= 5; i++) {
            const star = document.getElementById(`star${i}`);
            if (i <= initialScore) {
                star.src = /*[[@{/img/filledScore.png}]]*/ '/img/filledScore.png';  // 색이 칠해진 별 이미지
            } else {
                star.src = /*[[@{/img/emptyScore.png}]]*/ '/img/emptyScore.png';   // 비어있는 별 이미지
            }
        }
    }

    // 점수를 설정하는 함수
    function rate(score) {
        document.getElementById('score').value = score;
        initializeStars(score);
       var check= document.getElementById('score').value
    }

    // 초기 로드 시 점수를 설정
    document.addEventListener("DOMContentLoaded", function() {
        const initialScore = parseInt(document.getElementById('score').value, 10) || 0;
        initializeStars(initialScore);
    });
                </script>
                <!-- Footer -->
                <div th:include="~{design/footer :: footer}"></div>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->



<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script th:src="@{/assets/vendor/libs/jquery/jquery.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/assets/vendor/libs/popper/popper.js}"></script>
<script th:src="@{/assets/vendor/js/bootstrap.js}"></script>
<script th:src="@{/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

<script th:src="@{/assets/vendor/js/menu.js}"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script th:src="@{/assets/js/main.js}"></script>

<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
